.list {
  width: 100%;
  padding-bottom: 10px;
}
.list.gradientBackground {
  background: linear-gradient(
    to bottom,
    var(--main-color-medium),
    var(--main-color-dark)
  );
}
.list.solidBackground {
  background-color: var(--main-color-dark);
}

.title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.wrapper {
  position: relative;
}

.leftFade {
  display: none;
  z-index: 90;
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 10%;
  background: linear-gradient(to right, var(--main-color-dark), transparent);
}
.leftFade.scrolled {
  display: block;
}
.rightFade {
  display: none;
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
  width: 10%;
  background: linear-gradient(to left, var(--main-color-dark), transparent);
}
.rightFade.scrolled {
  display: block;
}

.container {
  display: flex;
  width: max-content;
  margin-top: 5px;
  margin-left: 20px;
}

/* Mobile in landscape orientation styles */
@media only screen and (min-width: 640px) {
  .title{
    margin-left: 50px;
    font-size: 20px;
  }
  .container{
    margin-left: 50px;
  }
}