.list {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}
.list.gradientBackground {
  background: linear-gradient(
    to bottom,
    var(--main-color-medium),
    var(--main-color-dark)
  );
}
.list.solidBackground {
  background-color: var(--main-color-dark);
}

.title {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.wrapper {
  margin-top: 10px;
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
}
.wrapper::-webkit-scrollbar{
  background-color: transparent;
  display: none;
}

.container {
  display: flex;
  width: max-content;
  margin-top: 5px;
  margin-left: 20px;
  padding-right: 205px;
}

.fade {
  display: none;
  z-index: 90;
  position: absolute;
  bottom: 30px;
  height: 300px;
  width: 50px;
}
.fade.scrolled {
  display: block;
}
.fade.last {
  bottom: 50px;
}
.fade.left {
  left: 0;
  background: linear-gradient(to right, var(--main-color-dark), transparent);
}
.fade.right {
  right: 0;
  background: linear-gradient(to left, var(--main-color-dark), transparent);
}

.sliderArrow {
  display: none !important;
}

/* Mobile in landscape orientation styles */
@media only screen and (min-width: 640px) {
  .fade{
    width: 80px;
  }
  .list.last {
    padding-bottom: 50px;
  }
  .title {
    margin-left: 50px;
    font-size: 20px;
  }
  .container {
    margin-left: 50px;
  }
}

/* Laptop styles */
@media only screen and (min-width: 1280px) {
  .fade {
    width: 60px;
  }

  .sliderArrow {
    z-index: 99 !important;
    position: absolute !important;
    bottom: 30px !important;
    width: 50px !important;
    height: 300px !important;
    background-color: rgba(23, 32, 50, 0.5) !important;
    color: white !important;
    cursor: pointer !important;
  }
  .sliderArrow.left {
    left: 0 !important;
  }
  .sliderArrow.right {
    right: 0 !important;
  }
  .sliderArrow.scrolled {
    display: inline-block !important;
  }
  .sliderArrow.last {
    bottom: 50px !important;
  }
}
