@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Updock&family=Work+Sans:wght@300&display=swap");

* {
  --logo-font: "Updock", cursive;
  --title-font: "Mulish", sans-serif;
  --text-font: "Work Sans", sans-serif;
  --main-color-dark: #2c3e50;
  --main-color-medium: #3a6979;
  --main-color-light: #4ca1af;
  font-family: var(--title-font);
  margin: 0;
  padding: 0;
}

/* color for rating stars without highlight in FeaturedMovie component*/
.MuiRating-iconEmpty {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* styles for the modal video of the trailer in FeaturedMovie component
* - modified from: https://github.com/santdas36/netflix-ish/blob/main/papareact-day2/src/modalVideo.css
*/
@keyframes modal-video-inner {
  from {
    transform: scale(0.75);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modal-video {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 1;
  animation: modal-video 0.3s ease-in;
}

.modal-video-body {
  max-width: 100%;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
}

.modal-video-inner {
  max-width: 100%;
  min-width: 300px;
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.modal-video-movie-wrap {
  width: 90%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: var(--main-color-dark);
  border-radius: 1rem;
  transform: scale(1);
  opacity: 1;
  animation: modal-video-inner 0.3s 0.1s ease-in;
  box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 0, 0, 0.5);
}

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.modal-video-close-btn {
  display: none;
}

/* Mobile in landscape orientation styles */
@media only screen and (min-width: 640px) {
  .modal-video-body {
    max-width: 90%;
  }

  .modal-video-inner {
    max-width: 90%;
  }

  .modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: -2.5rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .modal-video-close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .modal-video-close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .modal-video-close-btn:before,
  .modal-video-close-btn:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 5px;
  }
}
