@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Updock&family=Work+Sans:wght@300&display=swap');

*{
  --logo-font: 'Updock', cursive;
  --title-font: 'Mulish', sans-serif;
  --text-font: 'Work Sans', sans-serif;
  font-family: var(--title-font);
  margin: 0;
  padding: 0;
}