.header {
  width: 100%;
  color: white;
  background-color: black;
}

.navMainContainer {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: var(--logo-font);
  font-size: 35px;
  font-weight: bolder;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.navRightContainer {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
  width: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 99px;
  cursor: pointer;
  transition: width 0.2s;
}
.search.open {
  width: 100%;
}
.searchIcon {
  margin-right: 0.375rem;
}
.search > form {
  width: 100%;
}
.search > form > input {
  display: inline-block;
  background: transparent;
  width: 100%;
  padding-right: 0.5rem;
  border: none;
  outline: none;
  color: white;
  font-family: var(--text-font);
  font-size: 16px;
}
.search > form > input::placeholder {
  color: #c0cfd8;
}

.genres {
  display: flex;
  align-items: center;
  margin-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.genreOptions {
  display: none;
}
.genreOptions.open {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.genreOptions.open:nth-child(2) {
  border-top: 1px solid gray;
}
.genreOption {
  padding: 15px;
  border: 1px solid gray;
  border-top: none;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.profilePic {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  object-fit: cover;
}
.profileOptions {
  display: none;
}
.profileOptions.open {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profileEmail {
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid gray;
  font-family: var(--text-font);
  cursor: text;
}
.profileOption {
  padding: 15px;
  border: 1px solid gray;
  border-top: none;
  cursor: pointer;
}

/* Mobile in landscape orientation styles */
@media only screen and (min-width: 640px) {
  .header {
    z-index: 999;
    position: fixed;
    top: 0;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.2) 50%);
    transition: background-color 1s;
  }
  .header.scrolled {
    background-color: black;
  }

  .navMainContainer {
    padding: 10px 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-left: 0;
    margin-right: 0;
  }

  .navRightContainer {
    flex-direction: row;
    align-items: center;
  }

  .search {
    margin-top: 0;
    margin-bottom: 0;
  }
  .search.open {
    width: 12rem;
  }

  .genreOptions.open {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: max-content;
    position: absolute;
    top: 55px;
    right: 70px;
  }
  .genreOption {
    padding: 10px;
    background: black;
    border: 1px solid gray;
  }

  .genres,
  .profile {
    padding-top: 0;
    padding-bottom: 0;
  }
  .profileOptions.open {
    width: max-content;
    position: absolute;
    top: 55px;
    right: 10px;
  }
  .profileEmail {
    padding: 10px 10px 30px 10px;
    background: black;
    border: none;
  }
  .profileOption {
    padding: 10px;
    background: black;
    border: none;
    border-top: 1px solid gray;
  }
}
