.container{
  min-height: 27rem;
  padding: 12rem 50px 3rem;
  background: linear-gradient(to top, var(--main-color-medium), var(--main-color-light));
  color: white;
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 42rem;
  mix-blend-mode: overlay;
  mask-image: radial-gradient(ellipse farthest-side at 75% 10%, black, transparent);
  background-size: cover;
  background-position: right top;
}

.intro{
  font-weight: 500;
  text-transform: uppercase;
}

.title{
  font-weight: 900;
  margin-bottom: 10px;
}

.year{
  margin-left: 0.75rem;
  font-family: var(--text-font);
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.5;
}

.genres{
  margin-bottom: 10px;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: uppercase;
}
.certification{
  margin-right: 0.5rem;
  margin-left: -4px;
  padding: 3px 7px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid white;
  border-radius: 5px;

}
.genre:not(:last-of-type):after{
  content:", ";
}

.overview{
  width: 40%;
  margin-bottom: 10px;
}

.rating{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.ratingNum{
  margin-left: 4px;
}